{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
            <img style="width:80%; " src="https://static.vecteezy.com/system/resources/previews/006/835/879/non_2x/bank-building-with-columns-flat-cartoon-style-illustration-government-building-financial-house-building-facade-architecture-with-column-front-view-of-bank-isolated-on-white-background-vector.jpg" />
    </div>

{% endblock %}